{{ partial "page_edit" . }}
{{ partial "tags" . }}
{{ partial "share" . }}
{{ partial "page_author" . }}
{{ partial "comments" . }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sharechiwai.com page bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4266560994470212"
     data-ad-slot="6530091706"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ if site.Params.section_pager }}
<div class="article-widget">
  {{ partial "section_pager" . }}
</div>
{{ end }}
{{ partial "page_related" . }}
<script data-ad-client="ca-pub-4266560994470212" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

